/*==================================== Navigation Bar =========================================*/
.navbar{
    box-shadow: 0 8px 6px -6px grey;
    font-family: 'Source Sans Pro', sans-serif;
 
}

.nav-link{
    color: #1A4649; 
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;

}

.navbar-toggler{
  border: 2px solid  #1A4649;
  color: #F4B554;
  
}

.form-control:focus {
  border-color: #F4B554;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #F4B554 ;
}

.search  span{
  color: #1A4649;
  letter-spacing: 1px;

}

  .login a:nth-child(2) {
    display: none; 
  }
  
  .login:hover a:nth-child(1) {
    display: none;
  }
  
  .login:hover a:nth-child(2) {
    display: block;
  }

  .login-btn{
    background-color: #1A4649;
  }

  @media screen and (max-width:484px) {
    .navbar-brand{
      display: none;
    }
    .mid img{
      padding: 10px;
      width: 160px;
    }
    
  }
  @media screen and (min-width:992px) {
    .mid, .login-btn,.form-search, .search-img{
        display: none;
    }
    
  }
  @media screen and (max-width:992px) {
    .login, .right, .search{
        display: none;
    }

    .offcanvas-body{
      display: flex;
      justify-content: flex-start!important;
      padding-left: 40px;
    }
  
  }
